.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-radio-button {
  margin-right: 1rem;
}

button {
  background: #ff6700;
  color: #f2f2f2;
  margin-top: 1rem;
}

#image {
  height: 20rem;
  width: auto;
}

#backButton {
  margin-left: 1rem;
}
