<mat-card class="premium-card">
    <mat-card-header>
        <mat-card-title>People Also Watch For...</mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-3">
        <div class="table-responsive premium-table-wrapper">
            <table mat-table [dataSource]="dataSource" class="premium-table w-100">

                <ng-container matColumnDef="companyName">
                    <th mat-header-cell *matHeaderCellDef class="text-secondary"> Company </th>
                    <td mat-cell *matCellDef="let element" class="fw-bold"> {{element.longName}} </td>
                </ng-container>

                <ng-container matColumnDef="currentPrice">
                    <th mat-header-cell *matHeaderCellDef class="text-secondary"> Cur. Price</th>
                    <td mat-cell *matCellDef="let element"> ₹{{element.currentPrice.fmt}} </td>
                </ng-container>

                <ng-container matColumnDef="previousClose">
                    <th mat-header-cell *matHeaderCellDef class="text-secondary">Prev. Close</th>
                    <td mat-cell *matCellDef="let element"> ₹{{element.previousClose.fmt}} </td>
                </ng-container>

                <ng-container matColumnDef="change">
                    <th mat-header-cell *matHeaderCellDef class="text-secondary"> Difference </th>
                    <td mat-cell *matCellDef="let element">
                        <span [ngClass]="element.change.fmt.includes('-') ? 'text-danger' : 'text-success'">
                            {{element.change.fmt}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="change%">
                    <th mat-header-cell *matHeaderCellDef class="text-secondary"> Change % </th>
                    <td mat-cell *matCellDef="let element">
                        <span [ngClass]="element.changePercentage.fmt.includes('-') ? 'text-danger' : 'text-success'">
                            {{element.changePercentage.fmt}}
                        </span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow(row)" class="premium-row cursor-pointer"></tr>
            </table>
        </div>
    </mat-card-content>
</mat-card>