<div class="container-fluid cont">
    <div class="row">
        <div class="col-lg-3 align-self-start position-relative">
            <app-stock-details-sidebar></app-stock-details-sidebar>
        </div>
        <div class="col-lg-9 details-main">
            <app-graph></app-graph>
            <app-about-company></app-about-company>
            <app-risk-analysis></app-risk-analysis>
            <app-predicted-price></app-predicted-price>
            <app-peer-stocks></app-peer-stocks>
        </div>
    </div>
</div>