<mat-card class="premium-card">
    <mat-card-header>
        <mat-card-title>About Company</mat-card-title>
    </mat-card-header>
    <mat-card-content class="pt-3">
        <div class="mb-4">
            <p class="info-text">{{ urlStockDetails.longBusinessSummary }}</p>
        </div>
        <div class="details-grid mt-4">
            <div class="detail-item">
                <span class="detail-label">Company Name</span>
                <span class="detail-value">{{ urlStockDetails.longName }}</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Symbol</span>
                <span class="detail-value">{{ urlStockDetails.symbol }}</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Market Cap</span>
                <span class="detail-value">{{ urlStockDetails.marketCap.fmt }}</span>
            </div>
            <div class="detail-item">
                <span class="detail-label">Sector</span>
                <span class="detail-value">{{ urlStockDetails.sector }}</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>
